html,
body,
#root {
    height: 100%;
    margin: 0;
}
.grid-container {
    display: grid;
    height: 400px;
    width: 700px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 200px 1fr;
}

div {
    background-color: #daa520;
}

div:nth-of-type(1) {
    grid-columns: 1;
    grid-rows: 1;
}
div:nth-of-type(2) {
    grid-columns: 2;
    grid-rows: 1;
}
